@font-face{
    font-family: 'Neuelis';
    src: url('https://cdn.shopify.com/s/files/1/0673/8532/7855/files/65c4f4afbfc1d89087cb8de4_NeulisNeue-Bold.otf?v=1719856432') format('opentype')
  }
  
.vflexbody {
  font-family: 'Neuelis', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #2B303B;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

#hidden_settings {
  display: none;
}

#voltage_select {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#edit_voltage {
  background-color: #2B303B; /* Green */
  color: white;
  border: 2px solid transparent;
  width: 400px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}

#edit_voltage:hover {
  background-color: white;
  color: #2B303B;
  border: 2px solid #2B303B; 
  
}

.edit-btn{
  background-color: #2B303B !important;
  color: white;
  border: 2px solid transparent;
  width: 190px;
  margin-top: 10px; /* Add some space between input and button */
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.edit-btn:hover{
  background-color: white !important;
  color: #2B303B !important;
  border: 2px solid #2B303B !important; 
}

#cancel_voltage {
  display: none;
}

#set_voltage {
  display: none;
}

#controls{
  display: none;
}

#voltageStatus {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

#connectButton {
  background-color: #2B303B; /* Green */
  color: white;
  border: 2px solid transparent;
  width: 400px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}

#connectButton.deactive {
  background-color: white;       /* Set the interior to white */
  color: black;                  /* Set text color to black */
  border: 2px solid #2B303B;       /* Black outline */
  width: 400px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;               /* Optional: Adjust font size */
  transition: background-color 0.3s, color 0.3s;  /* Smooth transition */
}

#connectButton.deactive:hover {
  background-color: #2B303B;       /* Change background on hover */
  color: white;          
}


#connectButton:hover {
  background-color: white;
  color: #2B303B;
  border: 2px solid #2B303B; 
}

.main-content {
  font-family: 'Neuelis', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pps_message {
  width: 400px;
  height: 15px;
  color: black;
  text-align: center;
}

#ppsInput {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.input-wrapper {
  display: inline-block;
  position: relative; /* Allows absolute positioning of the label */
  width: 400px; /* Set width to match the input */
}

input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 24px;
  width: 400px;
  text-align: center;
}

.right-text {
  position: absolute;
  right: 0px;   /* Distance from the right edge of the container */
  top: 50%;
  transform: translateY(-50%);  /* Vertically center the text */
  pointer-events: none;  /* Make sure the text doesn't interfere with input clicks */
  color: #2B303B;
  font-size: 48px;
}

#fw_version {
  display: block;
  text-align: center;
  font-size: 20px; /* Adjust size if necessary */
  margin-top: 20px; /* Optional: Adds some space above the text */
  width: 100%;
}

#fw_version.hover:hover{
  color: grey !important;
}

.space-between {
  width: 2px;
}

.modes {
  width: 125px;
  height: 28px;
  text-align: center;
  padding: 0px;
  background-color: #F6F6F9;
  flex: 1;
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.7;
}

/* Hide the popup by default */
.popup {
display: none; /* Hidden by default */
position: fixed;
z-index: 1; /* Ensure it’s on top */
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.4); /* Overlay effect */
}

.popup-content {
background-color: white;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 500px;
height: 400px;
text-align: center;
align-content: center;
border-radius: 8px;
font-size: 30px;
position: relative; /* So the close button can be positioned inside */
}

/* Close button */
.close-btn {
position: absolute;
top: 10px;
right: 20px;
font-size: 30px;
cursor: pointer;
color: #aaa;
}

.close-btn:hover {
color: red; /* Highlight close button when hovered */
}


#nextBtn {
background-color: #2B303B;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 300px;
font-size: 20px;
}

#nextBtn:hover {
background-color: #e0e0e0;
}

.progress-bar-container {
width: 100%;
background-color: #eee;
border-radius: 5px;
margin: 20px 0; /* Adjust spacing as needed */
height: 30px; /* Height of the progress bar */
}

.progress-bar {
width: 0%; /* Start at 0% */
height: 100%;
background-color: #2B303B; /* Green color */
border-radius: 5px; /* Rounded corners */
transition: width 0.3s; /* Smooth transition */
}

#troubleConnectingLink {
color: #2B303B; /* Link color */
text-decoration: underline; /* Underline like a link */
cursor: pointer; /* Change the cursor to a pointer */
}

#troubleConnectingLink:hover {
color: #9696A8; /* Slightly darker color on hover */
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2B303B;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
  
#connectMessage {
  font-size: 30px;
}