@font-face{
    font-family: 'Neuelis';
    src: url('https://cdn.shopify.com/s/files/1/0673/8532/7855/files/65c4f4afbfc1d89087cb8de4_NeulisNeue-Bold.otf?v=1719856432') format('opentype')
  }
  
  .vflexbody {
    font-family: 'Neuelis', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #000B14;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  button, select, input[type="text"] {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    width: 400px;
    font-weight:600;
    border: 2px solid #9696A8;
    background-color: #F6F6F9;
    color: #9696A8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  button:hover, select:hover, input[type="text"]:hover {
    background-color: #000B14;
    color: #fff;
    border-color: #000B14;
  }
  
  #sender_lines, #receiver_lines {
    display: none;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 400px;
    overflow-y: auto;
    max-height: 200px;
  }
  
  .line {
    margin-bottom: 5px;
  }
  
  #command_line {
    width: calc(100% - 42px); /* Adjust for padding and border */
    max-width: 400px;
    display: none;
  }
  
  #voltage_select {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  #set_voltage {
    background-color: #000B14; /* Blue */
    color: white;
    border: none;
    width: 400px;
  }
  
  #set_voltage:hover {
    background-color: #9696A8;
    
  }
  
  #voltageStatus {
      font-size: 15px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 40px;
  }
  
  #advanced_settings_link{
    display: block;
  }
  #advanced_settings{
    display: none;
  }

  #controls {
    text-align: center;
    display: none;
  }
  
  #connectButton {
    background-color: #04D3BC !important; /* Green */
    color: white;
    border: none;
    width: 400px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  #connectButton:hover {
    background-color: #e0e0e0 !important;
  }

  .main-content {
    font-family: 'Neuelis', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .command-line {
    display: none;
  }

  #pps_message {
    display: none;
    width: 400px;
    height: 75px;
    color: red;
  }
  
  .main-content{
    display: block;
    text-align: center;
  }

  /* #voltage_pps {
    margin: 0 auto;
  } */
  
  /* #ppsInput {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin: 0 auto;
  }
  
  #ppsInput select, #decimal {
    display: inline-block;
  } */
  
  #ppsBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin */
  }
  
  #ppsInput {
    position: relative;
    display: inline-block;
  }

  input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 48px;
    width: 400px;
  }

  .right-text {
    position: absolute;
    right: 0px;   /* Distance from the right edge of the container */
    top: 50%;
    transform: translateY(-50%);  /* Vertically center the text */
    pointer-events: none;  /* Make sure the text doesn't interfere with input clicks */
    color: #000B14;
    font-size: 48px;
  }

   #fw_version {
    align-items: start;
  } 

/* Hide the popup by default */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Ensure it’s on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay effect */
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 400px;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  font-size: 30px;
  position: relative; /* So the close button can be positioned inside */
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #aaa;
}

.close-btn:hover {
  color: red; /* Highlight close button when hovered */
}


#nextBtn {
  background-color: #04D3BC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  font-size: 20px;
}

#nextBtn:hover {
  background-color: #e0e0e0;
}

.progress-bar-container {
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  margin: 20px 0; /* Adjust spacing as needed */
  height: 30px; /* Height of the progress bar */
}

.progress-bar {
  width: 0%; /* Start at 0% */
  height: 100%;
  background-color: #039E8D; /* Green color */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s; /* Smooth transition */
}

#troubleConnectingLink {
  color: #039E8D; /* Link color */
  text-decoration: underline; /* Underline like a link */
  cursor: pointer; /* Change the cursor to a pointer */
}

#troubleConnectingLink:hover {
  color: #9696A8; /* Slightly darker color on hover */
}

  
